html{
	height: 100%;
}

body{
	font-family: 'Lato', sans-serif;
	background: #B2FEFA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0ED2F7, #B2FEFA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-content{
	color: black;
	text-align: center;
	padding-top: 5%;
}

h1{
    font-weight: bold;
    font-size: 3em;
}

h5{
    font-weight: normal;
    font-size: 1em;
}

.div-form-style{
    margin: 20px auto;
    width: 30%
}
